---
import Layout from "../components/Layout.astro";
import "../db/seed";
import { listAllMeters, getLatestReadings } from "../db/meters";
import MeterSettings from "../components/MeterSettings";

const allMeters = listAllMeters();
const latestReadings = getLatestReadings(allMeters.map((m) => m.id));

const meters = allMeters.map((m) => ({
  id: m.id,
  name: m.name,
  rainWater: m.rain_water === 1,
  active: m.active === 1,
  submeterOf: m.submeter_of,
  currentReading: latestReadings.get(m.id) ?? 0,
}));
---

<Layout title="Setări">
  <h1>Setări contoare</h1>
  <MeterSettings meters={meters} client:load />
</Layout>
